/*
  This file contains style that is used for many components
 */

@import url(//fonts.googleapis.com/css?family=Pacifico);

html {
  font-family: Arial, serif;
}

.main {
  margin: 20px 25%;
}

.container {
  width: 800px;
}

.centeredElement{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.errorMsg{
  text-align: center;
  color:red;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/*
  This will be here for now, i don't know if i'm going
  to keep it.
 */
.footer > a{
  color: #FFF;
}

.footer{
  margin: 20px 25%;
}

.component-demo {
  margin-top: 40px;
}

